
{% load static %}

    <footer>
        <div class="container-fluid bg-secondary text-black mt-5 pt-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <p style="font-size:20px">
                            <b style="font-size:22px"><big> Contact us: </big><br></b>
                            1-888-280-4331<br>
                            <p style="font-size:20px">
                                <b style="font-size:22px"><big> Email: </big><br></b>
                                bajlanftmeah@gmail.com<br>
                                <p style="font-size:20px">
                                    <b style="font-size:22px"><big> Everyday: </big><br></b>
                                    8 a.m. to 10 p.m.
                                </p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">      
                        <p style="font-size:20px">
                            <b style="font-size:22px; "><big> Get to Know Us: </big><br></b>
                            Careers<br>
                            Blog<br>
                            About Van Dutti<br>
                            Investor Relations<br>
                            Van Dutti Devices<br>
                            Van Dutti Science<br>
                            Tehran<br>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <p style="font-size:20px">
                            <b style="font-size:22px"><big> Make Money with Us: </big><br></b>
                            Sell products on Van Dutti<br>
                            Sell on Van Dutti Business<br>
                            Sell apps on Van Dutti<br>
                            BVan Duttie an Affiliate<br>
                            Advertise Your Products<br>
                            Self-Publish with Us<br>
                            Host an Van Dutti Hub<br>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <p style="font-size:20px">
                            <b style="font-size:22px"><big> Van Dutti Payment Products: </big><br></b>
                            Van Dutti Business Card<br>
                            Shop with Points<br>
                            Reload Your Balance<br>
                            Van Dutti Currency Converter<br>
                        </p>
        
                    </div>    
                </div>
            </div>

            <div class="container-fluid bg-dark text-white text-center py-4 px-sm-3 px-md-5" style="margin-top: 25px;">
                <p class="m-0 text-white">&copy; <a class="text-white font-weight-bold" href="#">Van Dutti</a>. All Rights Reserved. Designed by Omar Bakr</p>
        </div>
    </footer>

